
    <link rel="stylesheet" href="NavKevinPowell.css">
    <link rel="stylesheet" href="/styles/header.css">


    <header id="main">
        <h1 class="logo">Piero Chavez </h1>
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <nav>
            <ul>
                <li><a class="btn-nav" href="#blog">Proyectos</a></li>
                <li><a class="btn-nav" href="#motivacion">Juegos</a></li>
                <li><a class="btn-nav" href="#tutoriales">Desafios</a></li>

            </ul>
        </nav>
        <label for="nav-toggle" class="nav-toggle-label">
            <span></span>
        </label>
    </header>
