.catalogo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.catalogo img {
    max-width: 300px;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
