.challenges {
  margin: 20px;
  background-color: white;
  border-radius: 20px;
}

.row {
  display: flex;
  justify-content: space-around;
}

.challenge {
  width: 30%;
  margin: 10px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
}

.challenge img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}


@media (max-width: 568px) {
  .row {
    flex-direction: column;
    align-items: center;
  }

  .challenge {
    width: 80%;
  }
}
