footer {
  background-color: #333; 
  color: #fff; 
  padding: 20px; 
}

.row {
  display: flex;
  justify-content: space-between;
}

.col-sm-6 {
  width: 48%; 

h5 {
  color: #f8f8f8; 
}


li {
  margin-bottom: 10px; /* Espaciado entre elementos de la lista */
}

a {
  color: #f8f8f8; /* Color de los enlaces en el footer */
  text-decoration: none; /* Elimina el subrayado de los enlaces */
}

a:hover {
  text-decoration: underline; /* Subrayado al pasar el mouse sobre los enlaces */
}

.text-center {
  text-align: center; /* Centra el texto en el centro del footer */
  margin-top: 20px; /* Espaciado superior del texto */
}
}