*{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}



main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.proyecto {
    width: calc(33.33% - 20px); /* 3 proyectos por fila en pantallas grandes */
    margin-bottom: 20px;
    overflow: hidden;
}

.proyecto img {
    max-width: 100%;
    height: auto;
}




