.projects {
  margin: 20px;
  background-color: white;
  border-radius: 20px;
}

.row {
  display: flex;
  justify-content: space-around;
}

.project {
  width: 30%;
  margin: 10px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
}

.project img {
  width: 80%;
  max-height: 230px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: auto; 
  margin-right: auto;
}


@media (max-width: 568px) {
  .row {
    flex-direction: column;
    align-items: center;
  }

  .project {
    width: 80%;
  }
}
